@using Entities.Concrete
@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UIAdminPanelLayout.cshtml";
    int count = 0;
}


<h3>Bize Ulaşın Mesajları</h3>
<hr />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.ContactDate.ToString("dd.MMM.yyyy")</td>
            <td><a href="#" class="btn btn-outline-danger">Pasif Yap</a></td>
            <td><a href="#" class="btn btn-outline-info">Mesajı Aç</a></td>
        </tr>
    }
</table>