

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UIAdminPanelLayout.cshtml";
}

<h1>Excel Fatura Dokümanı</h1>
<br />
<hr />
<a href="/Excel/BillsExcelReport" class="btn btn-info">Excel Fatura Raporu</a>

