
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UIAdminPanelLayout.cshtml";
}

<h3>Raporlama Sayfası</h3>
<br />
<h6>Excel Fatura Dokümanı</h6>
<a href="/Excel/BillsExcelReport/" class="btn btn-info">Excel Fatura Raporu</a>


