@model ETicaretShooping.Models.UserSignInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginGiris/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginGiris/css/main.css">
    <!--===============================================================================================-->

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/LoginGiris/images/img-01.png" alt="IMG">
                </div>


                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title">
                        Kullanıcı Giriş Sayfası
                    </span>

                    <div asp-validation-summary="ModelOnly" class="alert alert-info" role="alert">
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Email Alanı Boş Geçilemez">
                        <input class="input100" type="text" asp-for="EMail" placeholder="Email">
                        <span asp-validation-for="EMail"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifre Alanı Boş geçilemez">
                        <input class="input100" type="password" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="text-center p-t-12 ">
                        <input type="checkbox" class="form-check-input " asp-for="RememberMe">
                        <label class="form-check-label" for="RememberMe" asp-for="RememberMe">Beni Hatırla</label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <a class="btn btn-link" asp-action="ForgetPassword">Şifremi Unuttum?</a>
                        @*<span class="txt1">
                                Forgot
                            </span>
                            <a class="txt2" href="#">
                                Username
                            </a>*@

                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="SignUp">
                            Hesap Oluştur
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/LoginGiris/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginGiris/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginGiris/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginGiris/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginGiris/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/LoginGiris/js/main.js"></script>

</body>
</html>
