@model Entities.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_UIAdminPanelLayout.cshtml";
}



<h4 class="text-success">Rol Güncelleme Sayfası</h4>
<hr class="border-info" />
<hr />
<form method="post">
    <input type="hidden" asp-for="Id"/>
    <label>Rol Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>