  <!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @*<li class="nav-item">
            <a class="nav-link" href="/Member/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Siparişlerim</span>
            </a>
        </li>*@

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Sipariş Bilgileri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/Dashboard/Index"> Sipariş Listem </a></li>
                </ul>
            </div>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/ShoopignProduct/MyApprovalProduct"> Hazırlanmadakiler </a></li>
                </ul>
            </div>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/ShoopignProduct/MyCargoProduct"> Kargodakiler </a></li>
                </ul>
            </div>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/ShoopignProduct/MyDeliveredProduct"> Teslim Edilen </a></li>
                </ul>
            </div>
            @*<div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/ShoopignProduct/MyOldProduct"> Geçmiş Alışveriş </a></li>
                </ul>
            </div>*@
        </li>

        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Fatura İşlemleri</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Kullanıcı Ayarları</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/Profile/Index"> Profil </a></li>
                </ul>
            </div>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Member/EditProfile/UserEdit"> Profil Güncelle </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Anasayfa/Index">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
    </ul>
</nav>