
@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Erişim Yok</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/Loginkayıt2/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Loginkayıt2/css/style.css">
</head>

<body>

    <div class="wrapper" >
        <div class="inner">
            <img src="~/Loginkayıt2/images/image-1.png" alt="" class="image-1">
            <form action="">
                <h3>ÜZGÜNÜM!!!</h3>

                <div class="form-holder">

                    <h4>  Bu Sayfaya Erişim Yetkiniz Yoktur</h4>
                </div>

                <div class="form-holder">


                </div>
                <button>
                    <span> <a class="buton" href="/Anasayfa/Index">Anasayfaya Dön</a></span>
                </button>
            </form>
            <img src="~/Loginkayıt2/images/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="~/Loginkayıt2/js/jquery-3.3.1.min.js"></script>
    <script src="~/Loginkayıt2/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>