@using Entities.Concrete
@model List<Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UIAdminPanelLayout.cshtml";
}

<h3>Raporlama Sayfası</h3>
<br />
<h6>Pdf Fatura Dokümanı</h6>
<hr />
<a href="/Admin/Pdf/Index/" class="btn btn-info">Pdf Fatura Raporu</a>






















