
@{
    ViewData["Title"] = "GetFilterCurrency";
    Layout = "~/Views/Shared/_UIAdminPanelLayout.cshtml";
}


<h2>Kur İsmini Bul</h2>
<br />
<hr />

<form method="post">
    <label>Kur adını Giriniz</label>
    <br />

    <input type="text" class="form-control" name="x" />
    <br />
    <button class="btn btn-outline-primary">Kur Bilgisini Getir</button>
</form>